extends sidebar
block div#content
  div#divInformation
    h1= title
    div#divDatadiv.table-scrollable
      div(class = "control-group span6")
        label
          | Search :

        input(type="search" class="light-table-filter form-control input-medium input-inline" data-table="liveChat" placeholder="Enter search term")
      table(class = "table table-striped table-bordered table-hover liveChat")
        thead
          tr
            td
              span
                |Format
            td
              span
                |Sender Id
            td
              span
                |Recipient Id
            td
              span
                |Sender Facebook Id
            td
              span
                |Recipient Facebook Id
            td
              span
                |Status
            td
              span
                |Date Time
            td
              span
                |Url Meta
            td
              span
                |Payload

        tbody
          if (liveChat)
            form(action="/downloadcsv",method="post")
             - var dd=JSON.stringify(liveChat)
              input(type="hidden" name ="dd" value = dd)

              if (liveChat.length != 0)
                - each object in liveChat
                  tr
                    td=object.format
                    td=object.sender_id
                    td=object.recipient_id
                    td=object.sender_fb_id
                    td=object.recipient_fb_id
                    td=object.status
                    td=object.datetime
                    td=object.url_meta
                    td(colspan = 12)=JSON.stringify(object.payload)
                tr
                  td(colspan = 12,style = "text-align:right;")
                    button(class = "downloadcsv btn btn-info" type="submit")
                        |Export Record in CSV
              else
                tr
                  td(colspan = 12,style = "text-align:center;")="No live chat record found."
          else
            tr
              td(colspan = 8,style = "text-align:center;")="No live chat record found. " + error.description
