extends sidebar
block div#content
  div#divInformation
    h1= title
    div#divDatadiv.table-scrollable
      h3= 'All Pages'
      div(class = "control-group span6")
        label
          | Search :

        input(type="search" class="light-table-filter form-control input-medium input-inline" data-table="pageInfo" placeholder="Enter search term")
      table(class = "table table-striped table-bordered table-hover pageInfo")
        thead
          tr
            td
              span
                |Id
            td
              span
                |Page Id
            td
              span
                |Page Name
            td
              span
                |Likes
            td
              span
                |Connected
            td
              span
                |Subscribers
            td
              span
                |User Id

        tbody
          if (pages)
            form(action="/downloadcsv",method="post")
             - var dd=JSON.stringify(pages)
              input(type="hidden" name ="dd" value = dd)

              if (pages.length != 0)
                - each object in pages
                    tr
                      td=object._id
                      td=object.pageId
                      td=object.pageName
                      td=object.likes
                      td=object.connected
                      td=object.subscribers
                      td=object.userId
                  tr
                    td(colspan = 8,style = "text-align:right;")
                      button(class = "downloadcsv btn btn-info" type="submit")
                          |Export Record in CSV
              else
                tr
                  td(colspan = 8,style = "text-align:center;")="No page record found."
          else
            tr
              td(colspan = 8,style = "text-align:center;")="No page record found."

    div#divDatadiv.table-scrollable
      h3= 'Other Pages'
      div(class = "control-group span6")
        label
          | Search :

        input(type="search" class="light-table-filter form-control input-medium input-inline" data-table="otherpages" placeholder="Enter search term")
        table(class = "table table-striped table-bordered table-hover otherpages")
          thead
            tr
              td
                span
                  |Id
              td
                span
                  |Page Id
              td
                span
                  |Page Name
              td
                span
                  |Likes
              td
                span
                  |Connected
              td
                span
                  |User Id

          tbody
            if(otherPages)
              form(action="/downloadcsv",method="post")
              - var dd=JSON.stringify(otherPages)
              input(type="hidden" name ="dd" value = dd)

              if (otherPages.length != 0)
                - each object in otherPages
                    tr
                      td=object._id
                      td=object.pageId
                      td=object.pageName
                      td=object.likes
                      td=object.connected
                      td=object.userId

                  tr
                    td(colspan = 8,style = "text-align:right;")
                      button(class = "downloadcsv btn btn-info" type="submit")
                          |Export Record in CSV
              else
                tr
                  td(colspan = 8,style = "text-align:center;")="No page record found."
            else
              tr
                td(colspan = 8,style = "text-align:center;")="No page record found."
