extends sidebar
block div#content
  div#divInformation
    h1= title
    if(pollSentResponse !== '')
      div#infoMessage
        h3=pollSentResponse
        br
        a(href='/removeMessage') Remove Message
    div(class = "control-group span6")
      label
        | Search :

      input(type="search" class="light-table-filter form-control input-medium input-inline" data-table="polls" placeholder="Enter search term")
      div(class = "control-group span6")
        a(href='/newPoll' class='btn btn-primary' style='float: right') Create Poll
    div#divDatadiv.table-scrollable
      table(class = "table table-striped table-bordered table-hover polls")
        thead
          tr
            td
              span
            td
              span
                |Id
            td
              span
                |Platform
            td
              span
                |Statement
            td
              span
                |Date Time
            td
              span
                |User Id
            td
              span
                |Option
            td
              span
                |Responses

        tbody
          if(polls)
            form(id="sendPoll" action="/polls/sendPoll/",method="post")
            form(id='downloadcsv' action="/downloadcsv",method="post")
             - var dd=JSON.stringify(polls)
              input(type="hidden" name ="dd" value = dd form='downloadcsv')

              if (polls.length != 0)
                - each object in polls
                  - var poll= JSON.stringify(object)
                    input(type="hidden" name ="#{object._id}" value = poll form='sendPoll')
                    tr
                      td
                        button(value="#{object._id}" name='sendPollButton' type='submit' class='btn btn-primary' form='sendPoll') Send Poll
                      td=object._id
                      td=object.platform
                      td=object.statement
                      td=object.datetime
                      td=object.userId
                      td
                        ul
                        - each option in object.options
                          li=option
                      td
                        a(href='/polls/' + object._id) Show Responses
                tr
                  td(colspan = 10,style = "text-align:right;")
                    button(class = "downloadcsv btn btn-info" type="submit" form='downloadcsv')
                        |Export Record in CSV
              else
                tr
                  td(colspan = 8,style = "text-align:center;")="No poll record found."
          else
            tr
              td(colspan = 8,style = "text-align:center;")="No poll record found. " + error.description

    div#divDatadiv.table-scrollable
      h3= 'Polls Seen'
      table(class = "table table-striped table-bordered table-hover pollPages")
        thead
          tr
            td
              span
                |Id
            td
              span
                |Page Id
            td
              span
                |User Id
            td
              span
                |Poll Id
            td
              span
                |Subscriber Id
            td
              span
                |Date Time
             td
              span
                |Seen

        tbody
          if (pollPages)
            form(action="/downloadcsv",method="post")
             - var dd=JSON.stringify(pollPages)
              input(type="hidden" name ="dd" value = dd)

              if (pollPages  && pollPages.length != 0)
                - each object in pollPages
                    tr
                      td=object._id
                      td=object.pageId
                      td=object.userId
                      td=object.pollId
                      td=object.subscriberId
                      td=object.datetime
                      td=object.seen
              else
                tr
                  td(colspan = 8,style = "text-align:center;")="No record found."
          else
            tr
              td(colspan = 8,style = "text-align:center;")="No record found. " + error.description

    div#divDatadiv.table-scrollable
      h3= 'Polls Responded'
      table(class = "table table-striped table-bordered table-hover pollResponses")
        thead
          tr
            td
              span
                |Id
            td
              span
                |Response Count
        tbody
          if(pollResponses)
            form(action="/downloadcsv",method="post")
             - var dd=JSON.stringify(pollResponses)
              input(type="hidden" name ="dd" value = dd)

              if (pollResponses && pollResponses.length != 0)
                - each object in pollResponses
                    tr
                      td=object._id
                      td=object.count
              else
                tr
                  td(colspan = 2,style = "text-align:center;")="No record found."
          else
            tr
              td(colspan = 2,style = "text-align:center;")="No record found. " + error.description
